.header {
  text-align: center;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow:0px 1px 1px lightgrey;
  -moz-box-shadow:0px 1px 1px lightgrey;
  box-shadow:0px 1px 1px lightgrey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 10px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-1 {
  font-family: 'Flama Light', proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: normal;
  line-height: 44px;
  text-transform: none;
  color: black;
}
.content-1 {
  font-family: 'Avenir Roman', proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 26px;
  text-transform: none;
  color: #4E4E4E;
}
.content-2 {
  font-family: 'Avenir Roman', proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 26px;
  text-transform: none;
  color: #4E4E4E;
}
